body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#87CEEB;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 0;
}

.food-item {
    margin: 10px;
}

input[type="number"] {
    width: 60px;
}

form {
    margin-top: 30px;
}
input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

